.kinoko-bg{
  background-image: url("../img/kinoko.jpg");
  height: 100vh;


}

.takenoko-bg{
  background-image: url("../img/takenoko.jpg");
  height: 100vh;

  clear: both;
}

.pockey-bg{
  background-image: url("../img/pockey.jpg");
  height: 100vh;


}

.toppo-bg{
  background-image: url("../img/toppo.jpg");
  height: 100vh;

}

.jagariko-bg{
  background-image: url("../img/jagariko.jpg");
  height: 100vh;

}

.jagabee-bg{
  background-image: url("../img/jagabee.jpg");
  height: 100vh;
}

.chipstar-bg{
  background-image: url("../img/chipstar.jpg");
  height: 100vh;
}

.pringles-bg{
  background-image: url("../img/pringles.jpg");
  height: 100vh;

}

.calbee-usushio{
  background-image: url("../img/calbee.jpg");
  height: 100vh;
}

.koikeya-usushio{
  background-image: url("../img/koikeya.jpg");
  height: 100vh;
}

.amond-bg{
  background-image: url("../img/almond.jpg");
  height: 100vh;

}

.makadamia-bg{
  background-image: url("../img/macadamia.jpg");
  height: 100vh;
}

.apolo-bg{
  background-image: url("../img/apolo.jpg");
  height: 100vh;
}

.marble-bg{
  background-image: url("../img/marble.jpg");
  height: 100vh;
}

.gyaba-bg{
  background-image: url("../img/gyaba.jpg");
  height: 100vh;
}

.chokoball-bg{
  background-image: url("../img/chokoball.jpg");
  height: 100vh;
}

.koara-bg{
  background-image: url("../img/koara.jpg");
  height: 100vh;
}

.pacho-bg{
  background-image: url("../img/pacho.jpg");
  height: 100vh;
}

.alphoto-bg{
  background-image: url("../img/alphoto.jpg");
  height: 100vh;
}

.branchu-bg{
  background-image: url("../img/branchu.jpg");
  height: 100vh;
}

.galbo-bg{
  background-image: url("../img/galbo.jpg");
  height: 100vh;
}

.bake-bg{
  background-image: url("../img/bake.jpeg");
  height: 100vh;
}

.kappaebi-bg{
  background-image: url("../img/kappaebi.jpg");
  height: 100vh;
}

.caru-bg{
  background-image: url("../img/caru.jpg");
  height: 100vh;
}
.sapporo_bbq-bg{
  background-image: url("../img/potatobbq.jpg");
  height: 100vh;
}
.sapporo_vesi-bg{
  background-image: url("../img/potatoVesi.jpg");
  height: 100vh;
}
.bisco-bg{
  background-image: url("../img/bisco.jpg");
  height: 100vh;
}
.animal-bg{
  background-image: url("../img/animal.jpg");
  height: 100vh;
}

.black_thunder-bg{
  background-image: url("../img/blackThunder.jpg");
  height: 100vh;
}

.snickers-bg{
  background-image: url("../img/snickers.jpg");
  height: 100vh;
}
